/*************************************************************************************/
/*Définition des polices*/
@font-face {
    font-family: 'JacquesFrancois';
    src: url('./font/jacquesfrancois-regular-webfont.woff2') format('woff2'),
    url('./font/jacquesfrancois-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rakkas';
    src: url('./font/rakkas-regular-webfont.woff2') format('woff2'),
    url('./font/rakkas-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*************************************************************************************/
/*Définition globales*/
body{
    background-color: #FFBD59;
    margin: 0;
    padding: 0;
}

h1{
    font-family: 'Rakkas', Arial, sans-serif;
}

h2{
    font-family: 'JacquesFrancois';
}

.icone{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 50px;
    height: 50px;
    background-color: #277AB9;
}

.icone > img{
    scale: 0.9;
}

/*************************************************************************************/
/*Définition du header*/
body header{
    margin: 0;
    height: 330px;
}

body > header > div{
    margin: 0;
    position: static;
    background-image: url(img/banniere_header.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 230px;
    background-position:top center;
    color: #fff;
}

body > header > div > div{
    float: right;
    margin-top: 1.5em;
    margin-right: 1.5em;
}

body > header > div > div > a{
    margin-right: 5px;
}

body > header > div > div > a > img{
    transition: all 300ms ease-in-out;
}

body > header > div > div > a > img:hover{
    transform: translateY(-3px);
}

body > header > div > img{
    float: left;
    margin-top: 2.5em;
    margin-left: 3.5em;
}

body > header > div > h1{
    position: absolute;
    width: 100%;
    top: 2.75em;
    font-size: 48px;
    text-transform: capitalize;
    margin: 0 auto 0 auto;
    text-align: center;
}

body > header > div > nav{
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
    width: 70%;
    margin: 0;
    top: 3em;
    left: 20%;
}

body > header > div > nav >a {
    position: relative;
    font-family: 'JacquesFrancois', Arial, sans-serif;
    font-style: normal;
    font-weight: 4000/192vw;
    font-size: 28px;
    color: #fff;
    text-decoration: none;
    transition: all 300ms ease-in-out;
}

header div nav a:hover{
    transform: translateY(-3px);
}

header div nav a::before {
    content: "";
    position: absolute;
    height: 2px;
    bottom: 0;
    width: 0;
    background-color: #fff;
    transition: all 300ms ease-in-out;
}

.selectionne::before{
    height: 2px;
    width: 100%;
}

header div nav a:hover::before {
    width: 100%;
}

body > header > div+div{
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: none;
    height: 100px;
}

body > header > div+div > div{
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 350px;
}

/*************************************************************************************/
/*Définition du main*/
body > main{
    height: 100%;
}

.coup_de_coeur{
    height: 350px;
    width: 100%;
    padding: 0;
}

.coup_de_coeur > .carrousel{
    position:relative;
    height: 350px;
    width: 50%;
    margin: 0;
    overflow: hidden;
}

.coup_de_coeur > .carrousel > #carrousel_container{
    display: flex;
    flex-direction: row;
    height: 350px;
}

.coup_de_coeur > .carrousel > #carrousel_container > .img{
    width: 50%;
    height: 350px;
    margin: 0;
    background-size: cover;
    background-position:top center;
}

.coup_de_coeur > .carrousel > .bouton_carrousel{
    position: absolute;
    width: 150px;
    height: 150px;
    cursor: pointer;
    top: 30%;
    opacity: 0.5;
    transition: all 100ms ease-in-out;
}

.coup_de_coeur > .carrousel > .bouton_carrousel:hover{
    opacity: 1;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.coup_de_coeur > .carrousel + div{
    height: 350px;
    width: 50%;
    background-color: #fff;
    margin: 0;
}

#g{
    left: 0.5em;
}

#d{
    right: 0.5em; 
}
/*************************************************************************************/
/*Définition du footer*/
body > footer{
    position: relative;
    bottom: 0;
    width: 100%;
    height: 130px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    background-color: #277AB9;
    background-image: url(img/logo.png);
    background-repeat: no-repeat;
    background-size: 100px;
    background-origin: border-box;
    background-position-y: center;
    background-position-x: 3em;
}

body > footer div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 350px;
}

body > footer img{
    scale: 0.8;
    transition: all 100ms ease-in-out;
}

body > footer img:hover{
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    transform: translateY(-3px);
}
/*************************************************************************************/
/*************************************************************************************/
/*Page de la liste des séjours*/

.sansPromo + div {
    position: absolute;
    top: 50%;
}

.notation {
    width: 15%;
    height: 15%;
}

.promotion {
    background-color: red;
    text-align: center;
    width: 60px;
    height: 60px;
    position: absolute;
    top: -25px;
    left: -25px;
    border-radius: 30px;
}

.promotion > p{
    position: relative;
    top: 10%;
}

main > section > h2{
    width: 100%;
    text-align: center;
    background-color: #277AB9;
    margin: 0;
    height: 60px;
    color: #fff;
    font-size: 40px;
    line-height: 60px;
    text-transform: uppercase;
}

main > section > .catalog_item {
    position:relative;
    width: 320px;
    height: 320px;
    margin: 40px;
    background-image: url(img/image_corse_carre.png);
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    color: #FFFFFF;
    border-radius: 15% 0 15% 0;
}

.avecPromo{
    width: 100%;
    height: 100%;
}

.avecPromo > p {
    position: relative;
    top: 30%;
}

.avecPromo > h2 {
    position: relative;
    top: 30%;
}

.sansPromo {
    color: #000000;
}

main > section {
    max-width: 100%;
    background-color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

main > section > .catalog_item > .icone{
    position: absolute;
    bottom: 0;
}

.button {
    background-color: #3F91CC;
    width: 155px;
    height: 45px;
    position: absolute;
    left: 135px;
    top: 245px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    filter: drop-shadow(4px 4px 4px rgba(0,0,0,0.25));
    border-width: 5px;
    border-style: solid;
    border-color: #3F91CC;
}

.button > a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.2em;
    font-style: Inter;
}

.button:hover{
    background-color: #277AB9;
    border-color: #FFFFFF;
    border-width: 5px;
    border-style: solid;
}
